section.home table {
  width: 100%;
  max-width: 1280px;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
  border-collapse: collapse;
  text-align: center;
}

section.home thead {
  background-color: #2a2829;
  color: #fff;
}


section.home th, td{
  border: 1px solid black;
  padding: 0.2rem 0.8rem;
}

section.home th {
  padding: 0.6rem 0.8rem;
}

section.home div.botoes, section.senhas-profissional div.botoes {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

section.home button {
  color: #fff;
  font-size: clamp(0.8rem, 3vw, 1rem);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

section.home button.blue {
  background-color: #2372d2;
}

section.home button.red {
  background-color: #bb2323;
}

@media screen and (max-width: 980px) {
  table {
    margin: auto;
  }

  table p {
    text-align: center;
  }

  table thead {
    display: none;
  }

  table tr, table td {
    border: none;
  }

  section.home div.botoes {
    flex-direction: column;
    float: right;
  }

  table tr {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    border: 1px solid #444;
    margin-bottom: 0.8rem;
  }


  table td {
    text-align: right;
    border-bottom: 1px solid #777;
    padding: 0.4rem;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
    text-transform: uppercase
  }
}