section.gerenciar-profissionais div.profissionais {
  width: 98%;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.4rem 0 0.6rem 0;
}

section.gerenciar-profissionais div.profissional {
  background-color: #fff;
  box-shadow: -2px 3px 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
}

section.gerenciar-profissionais div.botoes {
  display: flex;
  gap: 0.4rem;
}

section.gerenciar-profissionais div.botoes i {
  cursor: pointer;
}

section.gerenciar-profissionais div.inativos div.profissional {
  background-color: #ccc;
}


@media screen and (max-width: 980px) {
  section.gerenciar-profissionais h3 {
    text-align: center;
    margin: 1rem 0;
  }
  
  section.gerenciar-profissionais div.profissionais {
    justify-content: center;
  }

  section.gerenciar-profissionais div.profissional {
    max-width: 620px;
  }
}