form.novo-profissional {
  width: 98%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

form.novo-profissional input, form.novo-profissional button {
  border: 1px solid #555;
  outline: none ;
  padding: 0.5rem 0.2rem;
}

form.novo-profissional input {
  font-size: clamp(0.9rem, 3vw, 1rem);
}

form.novo-profissional button {
  padding: 0.7rem;
  color: #fff;
  background-color: #2a2829;
  border: none; 
  transition: all 0.3s;
}

section.novo-profissional button:hover {
  background-color: #383637;
}