section.gerar-senha form {
  width: 98%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

section.gerar-senha input, button {
  font-size: 1rem;
  border: 1px solid #555;
  outline: none ;
  padding: 0.5rem 0.2rem;
}

section.gerar-senha button {
  padding: 0.7rem;
  color: #fff;
  background-color: #2a2829;
  border: none; 
  transition: all 0.3s;
}

section.gerar-senha button:hover {
  background-color: #383637;
}